<div class="row mt-0 mb-3">
    <div class="col-12 col-md-4">
      <div class="border rounded-2 p-4 bg-light">
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="d-flex align-items-center">
              <div>
                <i class="fa fa-circle text-warning me-1"></i> Admissions
              </div>
              
              <div class="fs-19 ms-4">276</div>
            </div>
          </div>
          <div class="col-12 col-md-7 border-start">
            <div class="d-flex align-items-center">
              <div>
                <i class="fa fa-circle text-success me-1"></i> Discharge
              </div>
              <div class="flex-fill mx-4">
                <div class="fs-11">85%</div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success wp-85"></div>
                </div>
              </div>
              <div class="fs-19 ms-4">234</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="border rounded-2 p-2 pt-3 position-relative bg-gray-200">
        <div class="fieldset-title px-1 bg-white fs-12">ADMISSION BY STAGES</div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="d-flex align-items-center">
              <div class="text-truncate1">CKD Stage 4</div>
              <div class="flex-fill mx-3">
                <div class="fs-11 text-truncate">78% Discharge</div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success wp-78"></div>
                </div>
                
              </div>
              <div class="fs-19 ms-4">162</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 border-start">
            <div class="d-flex align-items-center">
              <div class="text-truncate1">CKD Stage 3a</div>
              <div class="flex-fill mx-3">
                <div class="fs-11 text-truncate">50% Discharge</div>

                <div class="progress progress-xs">
                  <div class="progress-bar bg-warning wp-50"></div>
                </div>
              </div>
              <div class="fs-19 ms-4">382</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 border-start">
            <div class="d-flex align-items-center">
              <div class="text-truncate1">CKD Stage 3b</div>
              <div class="flex-fill mx-3">
                <div class="fs-11 text-truncate">20% Discharge</div>

                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger wp-20"></div>
                </div>
              </div>
              <div class="fs-19 ms-4">276</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 border-start">
            <div class="d-flex align-items-center">
              <div class="text-truncate">EKSD</div>
              <div class="flex-fill mx-3">
                <div class="fs-11 text-truncate">60% Discharge</div>

                <div class="progress progress-xs">
                  <div class="progress-bar bg-primary wp-60"></div>
                </div>
              </div>
              <div class="fs-19 ms-4">234</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>