<div class="card-header title-submenu d-flex p-0">
  <h3 class="card-title flex-fill">
    Medication
    <div class="fs-12 op-0-75">Medication as per the care plan</div>
  </h3>
</div>
<table class="table border text-nowrap text-md-nowrap mt-4 mb-0">
  <thead>
    <tr class="bg-gray-200">
      <td>DRUG NAME</td>
      <td>FROM</td>
      <td>DELIVERY</td>
      <td>FREQUENCY</td>
    </tr>
  </thead>
  <tbody>
    <tr class="border-top">
      <td>
        Metformin
        <div class="fs-12 op-0-75">500 mg</div>
      </td>
      <td class="col-3">Tablet</td>
      <td class="col-3">Oral</td>
      <td class="col-3">Daily</td>
    </tr>
    <tr class="border-top">
      <td class="col-3">
        Ipratropium Bromide- Albuterol Sulfate
        <div class="fs-12 op-0-75">3mg/3mL-0.5mg/3mL</div>
      </td>
      <td class="col-3">Tablet</td>
      <td class="col-3">Oral</td>
      <td class="col-3">Mon, Web, Fri</td>
    </tr>
  </tbody>
</table>
