<div>
    <div class="sub-header">
        <div class="main-container container">
            <h1 class="page-title pt-1">Account</h1>
        </div>
    </div>

    <div class="main-container container">
        <div class="mt-3" *ngIf="!showNoData"> 
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card card-style3 p-4">
                        <div class="d-flex">
                            <div class="notifyimg bg-info">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="flex-fill d-flex align-items-center text-nowrap">
                                <div class="d-sm-flex w-100">
                                    <div class="flex-fill border-sm-end px-4 w-50">
                                        <div> Attributed Patients <div class="text-dark fw-bold fs-22 lh-sm"><a
                                                    href="javascript:void(0)"
                                                    class="nav-link d-inline-block px-0">18</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-fill px-4 mt-3 mt-sm-0 w-50">
                                        <div> Engaged Patients <div class="text-dark fw-bold fs-22 lh-sm">
                                                <span class="d-inline-block pt-1">18</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card card-style3 p-4">
                        <div class="d-flex">
                            <div class="notifyimg bg-info">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="flex-fill d-flex align-items-center text-nowrap">
                                <div class="d-sm-flex w-100">
                                    <div class="flex-fill border-sm-end px-4">
                                        <div> Assessed <div class="text-dark fw-bold fs-22 lh-sm">
                                                <a href="javascript:void(0)"
                                                    class="nav-link d-inline-block px-0">294</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-fill px-4 mt-3 mt-sm-0">
                                        <div> Last Payment <div class="text-dark fw-bold fs-22 lh-sm">
                                                <span class="d-inline-block pt-1">$2175</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header border-bottom title-submenu d-flex">
                    <h3 class="card-title flex-fill">Show last 12 months of payments</h3>
                </div>
                <div class="card-body pt-3">
                    <div class="text-center">
                        <app-combination-chart [chartData]="sampleJSON"></app-combination-chart>
                    </div>
                </div>
            </div>
            <div class="card mt-1 mb-5 p-2">
                <div class="table-responsive">
                    <table id="admissionTable"
                        class="table text-nowrap m-0 table-bordered table-striped sorting_disabled">
                        <thead class="table-head text-uppercase">
                            <tr class="text-secondary bg-gray-200">
                                <th class="bg-transparent border-bottom-0 fs-12 table-header">Reporting <div>Period
                                    </div>
                                </th>
                                <th class="bg-transparent border-bottom-0 fs-12 wp-20 table-header">Practice <div>Name
                                    </div>
                                </th>
                                <th class="bg-transparent border-bottom-0 fs-12 table-header">Attributed <div>Patients
                                    </div>
                                </th>
                                <th class="bg-transparent border-bottom-0 fs-12 table-header">Engaged</th>
                                <th class="bg-transparent border-bottom-0 fs-12 table-header">Assessed</th>
                                <th class="bg-transparent border-bottom-0 fs-12 table-header">PMPM <div>Amount</div>
                                </th>
                                <th class="bg-transparent border-bottom-0 fs-12 table-header">PMPM <div>Payment Amt
                                    </div>
                                </th>
                                <th class="bg-transparent border-bottom-0 fs-12 table-header">Incentive <div>at 80%
                                    </div>
                                </th>
                                <th class="bg-transparent border-bottom-0 fs-12 table-header">Incentive <div>at 100%
                                    </div>
                                </th>
                                <th class="bg-transparent border-bottom-0 fs-12 table-header">Report <div>Date</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                            </tr>
                            <tr>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                                <td><span class="skeleton-loader"></span></td>
                            </tr>
                        </tbody>
                        <tbody class="table-body">
                            <tr *ngFor="let data of sampleJSON.tableData">
                                <td>
                                    {{ data.reportingPeriod }}
                                </td>
                                <td class="text-center">
                                    <div class="text-truncate mw-truncate">{{ data.practiceName }}</div>
                                </td>
                                <td class="text-center">
                                    {{ data.attributedPatients }}
                                </td>
                                <td class="text-center">
                                    {{ data.engaged }}
                                </td>
                                <td class="text-center">
                                    {{ data.assessed }}
                                </td>
                                <td class="text-center">
                                    {{ data.pmpmAmount }}
                                </td>
                                <td class="text-center">{{ data.pmpmPaymentAmt }}</td>
                                <td class="text-center">
                                    {{ data.incentiveAtEightyPercent }}
                                </td>
                                <td class="text-center">
                                    {{ data.incentiveAtHunderedPercent }}
                                </td>
                                <td class="text-center">
                                    {{ data.ReportDate }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <div class="d-md-flex">
                            <div class="flex-fill d-md-flex text-center text-md-start align-items-center mt-4 mt-md-0">
                                <div>Showing 1 to 10 of 18 Records</div>
                            </div>
                            <div class="mt-3 mt-md-0">
                                <ul class="pagination justify-content-center justify-content-md-end mt-2 mb-0">
                                    <li class="page-item disabled">
                                        <button tabindex="-1" aria-disabled="true" class="page-link"> First </button>
                                    </li>
                                    <li class="page-item disabled">
                                        <button tabindex="-1" aria-disabled="true" class="page-link"><i
                                                class="fa fa-angle-left"></i></button>
                                    </li>
                                    <li class="page-item d-none d-sm-block active">
                                        <button class="page-link"> 1 </button>
                                    </li>
                                    <li class="page-item d-none d-sm-block"><button class="page-link"> 2 </button></li>
                                    <li class="page-item"><button class="page-link"><i
                                                class="fa fa-angle-right"></i></button></li>
                                    <li class="page-item"><button class="page-link"> Last </button></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div> 
        <app-no-records-found *ngIf="showNoData"></app-no-records-found>
    </div>
</div>