<div class="card-header title-submenu d-flex p-0">
  <h3 class="card-title flex-fill">
    Transtiona Care
    <div class="fs-12 op-0-75">Medication as per the care plan</div>
  </h3>
  <div>
    <span class="badge bg-success ms-2 op-0-6">LOW</span>
    <span class="badge bg-primary ms-2 op-0-6">IN-PROCESS</span>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-3 pt-2">
    <div class="d-flex">
      <div><i class="fa fa-circle text-success"></i></div>
      <div class="flex-fill ps-3">Assessment</div>
    </div>
  </div>
  <div class="col-2">
    <div>
      <span class="fs-11">100%</span>
      <div class="progress progress-sm">
        <div class="progress-bar bg-success wp-100"></div>
      </div>
    </div>
  </div>
  <div class="col-7 pt-2">Completed on 22/08/11 - Andre/Julia</div>
</div>
<div class="row mt-3">
  <div class="col-3 pt-2">
    <div class="d-flex">
      <div><i class="fa fa-circle text-primary"></i></div>
      <div class="flex-fill ps-3">Med Rec</div>
    </div>
  </div>
  <div class="col-2">
    <div>
      <span class="fs-11">60%</span>
      <div class="progress progress-sm">
        <div class="progress-bar bg-primary wp-60"></div>
      </div>
    </div>
  </div>
  <div class="col-7 pt-2">Completed on 24/08/11 - Julia</div>
</div>
<div class="row mt-3">
  <div class="col-3 pt-2">
    <div class="d-flex">
      <div><i class="fa fa-circle text-danger"></i></div>
      <div class="flex-fill ps-3">Care Plan</div>
    </div>
  </div>
  <div class="col-2">
    <div>
      <span class="fs-11">20%</span>
      <div class="progress progress-sm">
        <div class="progress-bar bg-danger wp-20"></div>
      </div>
    </div>
  </div>
  <div class="col-7 pt-2">Inprogress</div>
</div>
