<div class="table-responsive">
    <table
      id="admissionTable"
      class="table text-nowrap m-0 table-bordered table-striped sorting_disabled"
    >
      <thead class="table-head">
        <tr class="text-secondary bg-gray-200 text-uppercase">
          <!-- <th
            class="bg-transparent border-bottom-0 wp-3 fs-12 text-center sorting_off"
          ></th> -->
          <th class="bg-transparent border-bottom-0 fs-12 table-header" (click)="applySort('name')">User Name</th>
          <th class="bg-transparent border-bottom-0 fs-12 table-header" (click)="applySort('EmailAddress')">Email/Login ID</th>
          <th class="bg-transparent border-bottom-0 fs-12 table-header">Title</th>
          <th class="bg-transparent border-bottom-0 fs-12 table-header">Mobile number</th>
          <th class="bg-transparent border-bottom-0 fs-12 table-header">Practices Assigned</th>
          <th class="bg-transparent border-bottom-0 fs-12 table-header">User Role</th>
          <th class="bg-transparent border-bottom-0 fs-12 table-header">User Status</th>
          <th class="bg-transparent border-bottom-0 fs-12 table-header">Date user created</th>
          <th class="bg-transparent border-bottom-0 fs-12 table-header">Date User Termed</th>
          <th class="bg-transparent border-bottom-0 no-btn fs-12 wp-3"></th>
        </tr>
      </thead>
      <tbody class="table-body" *ngIf="showLoading && !usersList.data.length">
        <tr>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
        </tr>
        <tr>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
        </tr>
        <tr>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
        </tr>
        <tr>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
        </tr>
        <tr>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
        </tr>
        <tr>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
        </tr>
        <tr>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
        </tr>
        <tr>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
          <td><span class="skeleton-loader"></span></td>
        </tr>
      </tbody>
      <tbody class="table-body" *ngIf="!showLoading && usersList.data.length">
        <tr *ngFor="let user of usersList.data">
          <td>{{ user.name ? user.name : '-' }}</td>
          <td>
            <div class="text-truncate mw-truncate">{{ user.userName ? user.userName : '-' }}</div>
          </td>
          <td>{{ user.title ? user.title : '-' }}</td>
          <td>{{ user.phoneNumber ? user.phoneNumber : '-' }}</td>
          <td>{{ user.practices ? user.practices : '-' }}</td>
          <td>{{ user.roles ? user.roles : '-' }}</td>
          <td>{{ user.userStatus ? user.userStatus : '-' }}</td>
          <td>{{ user.createdOn ? moment(user.createdOn).format("MM/DD/YYYY") : '-' }}</td>
          <td>{{ user.terminationDate ? user.terminationDate : '-' }}</td>
          <td class="text-center">
            <a
              href="#"
              class="br-5 px-2 py-1"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fe fe-more-vertical"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-start">
                <a
                    class="dropdown-item"
                    href="Javascript: void(0);"
                    data-bs-target="#modalEditUser"
                    data-bs-toggle="modal"
                    (click)="getUser(user.emailAddress, 'update')"
                    ><i class="fe fe-edit me-2"></i> Edit Details</a
                >
                <a
                    class="dropdown-item"
                    href="Javascript: void(0);"
                    data-bs-target="#modalDeleteUser"
                    data-bs-toggle="modal"
                    (click)="getUser(user.emailAddress, 'delete')"
                    ><i class="fe fe-x-circle me-2"></i> Delete User</a
                >
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <app-pagination
          [pagingModel]="usersList.pagingModel"
          (gotoPageHandler)="gotoPage($event)"
        >
      </app-pagination>
    </nav>
</div>


<!-- Edit User MODAL -->
<div class="modal fade" id="modalEditUser">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo">
        <form [formGroup]="updateUserForm" (ngSubmit)="submit()">
          <div class="modal-header bg-gray-200">
              <h4 class="modal-title fw-semibold">Edit User</h4>
              <button type="button" aria-label="Close" data-bs-dismiss="modal" class="btn-close" (click)="resetValues()">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
            <app-spinner *ngIf="userLoading"></app-spinner>
            <div class="form-row">
              <div class="col-6 mb-3">
                <div class="form-floating">
                  <input type="text" placeholder="First Name" formControlName="firstName" id="firstName" class="form-control" />
                  <label for="firstName" class="mb-1">First Name</label>
                </div>
                <div class="text-danger" *ngIf="updateUserForm.controls['firstName'].invalid && updateUserForm.controls['firstName'].touched">Please enter valid name</div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-floating">
                  <input type="text" placeholder="Last Name" formControlName="lastName" id="lastName" class="form-control">
                  <label for="lastName" class="mb-1">Last Name</label>
                </div>
                <div class="text-danger" *ngIf="updateUserForm.controls['lastName'].invalid && updateUserForm.controls['lastName'].touched">Please enter valid name</div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 mb-3">
                <div class="form-floating">
                  <input type="text" placeholder="Enter Email Address" formControlName="email" id="userEmail"
                    class="form-control">
                  <label for="userEmail" class="mb-1">Email/Login ID</label>
                </div>
                <div class="text-danger" *ngIf="updateUserForm.controls['email'].invalid && updateUserForm.controls['email'].touched">Please enter valid email</div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 mb-3">
                <div class="form-floating">
                  <input type="text" placeholder="Enter Email Address" formControlName="title" id="title"
                    class="form-control">
                  <label for="title" class="mb-1">Title (optional)</label>
                </div>
                <div class="text-danger" *ngIf="updateUserForm.controls['title'].invalid && updateUserForm.controls['title'].touched">Title is required</div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-6 mb-3">
                <div class="form-floating">
                  <input type="text" placeholder="Phone Number" formControlName="phoneNumber" id="phoneNumber" class="form-control">
                  <label for="phoneNumber" class="mb-1">Mobile Number</label>
                </div>
                <div class="text-danger" *ngIf="updateUserForm.controls['phoneNumber'].invalid && updateUserForm.controls['phoneNumber'].touched">Please enter valid contact number</div>
              </div>
              <div class="col-6 mb-3">
                <div class="form-floating">
                  <select class="form-select" id="roleId" formControlName="roleId">
                    <option value="" selected>-Select-</option>
                    <option [value]="role.id" *ngFor="let role of rolesList">{{ role.name }}</option>
                  </select>
                  <label for="roleId" class="mb-1">User Role</label>
                </div>
                <div class="text-danger" *ngIf="updateUserForm.controls['roleId'].invalid && updateUserForm.controls['roleId'].touched">Please select user role</div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <mbsc-select [data]="practicesList" 
                  formControlName="practiceId"
                  display="anchored" 
                  [itemHeight]="50" 
                  [selectMultiple]="true" 
                  label="Select Practices to Assign" 
                  class="form-control select-tags mb-3" 
                  inputStyle="box" 
                  labelStyle="stacked" 
                  placeholder="Please select Tags..."
                >
                </mbsc-select>
              </div>
            </div>
          </div>
          <div class="d-flex mb-3">
            <div>
              <strong class="me-3 text-nowrap">User Status</strong>
            </div>
            <div class="flex-fill">
              
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                    formControlName="userStatus"
                    id="inlineRadio2" 
                    [value]="" />
                <label class="form-check-label" for="inlineRadio2">Active</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" 
                    type="radio"
                    formControlName="userStatus"
                    id="inlineRadio1" [value]="" />
                <label class="form-check-label" for="inlineRadio1">Termed</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button
              class="btn btn-outline-light"
              data-bs-dismiss="modal"
              type="button"  (click)="resetValues()"
            >
              Cancel
            </button>
            <button
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              type="submit" [disabled]="!updateUserForm.valid"
            >
            Update
            </button>
            </div>
        </form>
      </div>
    </div>
</div>

<!-- Delete MODAL -->
<div class="modal fade" id="modalDeleteUser">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo rounded-4">
        <div class="modal-body p-5">
            <app-spinner *ngIf="userLoading"></app-spinner>
            <div class="text-center">
            <div class="fs-16">Are you sure you want to delete <span class="text-nowrap"><strong>{{ userToDelete }}</strong>?</span></div>
            <h4 class="fw-bold text-primary mt-1">you can't undo this action</h4>
            <div class="d-flex alert alert-danger my-4 rounded-3 border-0 badge-danger-lighter">
              <span class="alert-inner--icon me-3"><i class="fe fe-info fs-32"></i></span>
              <div class="flex-fill text-start alert-inner--text lh-normal text-dark">By deleting user will not be able to access his account any more.</div>
            </div>
          </div>
          <div class="text-center mt-4">
            <button
            class="btn btn-outline-light mx-1 py-2 px-5 fw-bold"
            data-bs-dismiss="modal" type="button" (click)="resetValues()"
          >
            Cancel
          </button>
          <button
            class="btn btn-danger mx-1 py-2 px-5 fw-bold"
            data-bs-dismiss="modal" (click)="deleteUser()"
          >
          Confirm
          </button>
          </div>

        </div>
      </div>
    </div>
</div>
