<div class="modal fade" id="modalAddFiles">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header bg-gray-200">
          <h4 class="modal-title fw-semibold">Add Files</h4>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="addFileForm" (ngSubmit)="submit()" novalidate="novalidate">
          <div class="modal-body">
            <div class="row">
              
              <div class="col-12 col-md-6 position-relative">
                  <div class="upload-block">
                      <div class="w-100 file-area">
                          <div class="text-center mb-3">
                              <label for="customFile"><strong class="fs-16">Browse File to Upload</strong></label>
                          </div>
                          <input type="file" name="images" id="customFile"
                           required="required" 
                           accept=".pdf, .doc, .docx, .xlsx, image/*, video/webm, video/mp4, application/vnd.ms-excel"
                           formControlName="fileSource"
                           (change)="onFileChange($event)"
                           />
                          <div id="file-dummy"
                            class="file-icon text-center file-dummy"
                            [ngClass]="exceedFileSize ? 'file-failed': ''">
                              <i class="fa fa-cloud-upload text-secondary"></i>
                              <div class="btn btn-secondary w-100 mt-4 mb-2 py-1">Browse</div>
                              <div id="filePath" class="filePath mb-2"></div>
                              <div id="fileAlert" class="success"
                                *ngIf="addFileForm.controls['fileName'].value">
                                {{addFileForm.controls['fileName'].value}}
                              </div>
                              <div class="default" 
                                *ngIf="!addFileForm.controls['fileName'].value">Select file to upload</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-6">
                    
                    <div class="form-floating mb-3">
                      <input type="text" 
                          class="form-control"
                          id="title" 
                          placeholder="Title"
                          formControlName="title" >
                      <label class="lh-sm" for="fileName">Title</label>
                    </div>
                    <!-- <div class="form-floating mb-3">
                      <input type="text" class="form-control" 
                          id="folder" 
                          placeholder="Folder"
                          formControlName="folder" />
                      <label class="lh-sm" for="folder">Folder</label>
                    </div> -->
                    <app-typeahead [dataList]="{label: 'Folder', data: folders, defaultSelected: addFileForm.controls['folder'].value}"
                      (itemSelected)="itemSelected($event)"></app-typeahead>
                    <div class="d-flex mb-3">
                      <div>
                        <strong class="me-3 text-nowrap">Doc Scope</strong>
                      </div>
                      <div class="flex-fill">
                        
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" 
                              formControlName="isGlobal"
                              id="inlineRadio2" 
                              [value]="false" />
                          <label class="form-check-label" for="inlineRadio2">Practice</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" 
                              type="radio"
                              formControlName="isGlobal"
                              id="inlineRadio1" [value]="true" />
                          <label class="form-check-label" for="inlineRadio1">Knowledge Center</label>
                        </div>
                        <select class="form-select form-select-sm my-1" 
                          *ngIf="addFileForm.controls['isGlobal'].value === false"
                          formControlName="practiceIds"
                          multiple>
                          <option [value]="practiceId.practiceId"
                            [selected]="addFileForm.controls['practiceIds'].value.indexOf(practiceId.practiceId) !== -1"
                            *ngFor="let practiceId of practiceList">{{practiceId.name}}</option>
                        </select>
                        <div *ngIf="addFileForm.controls['isGlobal'].value === true"
                          style="font-size: 12px;">
                          Document will be public and visible to everyone.
                        </div>
                      </div>
                    </div>
                    <div class="form-floating">
                      <input type="text" 
                          class="form-control" 
                          id="Tags" 
                          placeholder="Tags"
                          formControlName="tags" />
                      <label class="lh-sm" for="Tags">Tags</label>
                    </div>
                    <div class="text-end fs-11 mt-1 mb-3 op-0-5">Comma-delimited I.e. Tag01, Tag02, Tag03</div>
    
                    
                    
                    
                    <div class="form-floating">
                      <textarea class="form-control minh-6" 
                          rows="4" 
                          placeholder="Leave a comment here" 
                          id="description"
                          formControlName="description"></textarea>
                      <label class="lh-sm" for="description">Description</label>
                    </div>
                  
              </div>
              <div *ngIf="uploadMessage">
                {{uploadMessage}}
              </div>
              <div *ngIf="uploading" class="text-end">
                Uploading in progress...
              </div>
          </div>
          </div>
          <div class="modal-footer">
            <a href="javascript: void(0);"
              class="btn btn-outline-light"
              data-bs-dismiss="modal"
              (click)="onCancel()"
            >
              Cancel
            </a>
            <button
              class="btn btn-secondary"
              [disabled]="addFileForm.invalid || uploading"
            >
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card custom-card upload-toast" *ngIf="uploadStatus === 'start' || uploadStatus === 'completed' || uploadStatus === 'error'">
    <div class="card-header border-bottom py-4 ps-4 pe-3 d-flex"> 
      <h3 class="card-title flex-fill">Uploading Document</h3> 
      <button aria-label="Close" data-bs-dismiss="modal" class="btn-close">
        <span>×</span>
      </button>
    </div> 
    <div class="card-body p-0"> 
      <div class="upload-toast__item" *ngIf="uploadStatus === 'start'">
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'jpg' || addFileForm.value.fileName.split('.')[1] === 'jpeg' || addFileForm.value.fileName.split('.')[1] === 'png'">
          <i class="fa fa-file-photo-o fs-16 align-text-top text-danger"></i>
        </div>
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'pdf'">
          <i class="fa fa-file-pdf-o fs-16 align-text-top text-danger"></i>
        </div>
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'doc' || addFileForm.value.fileName.split('.')[1] === 'docx'">
          <i class="fa fa-file-word-o fs-16 align-text-top text-primary"></i>
        </div>
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'xls' || addFileForm.value.fileName.split('.')[1] === 'xlsx'">
          <i class="fa fa-file-excel-o fs-16 align-text-top text-success"></i>
        </div>
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'mp4' || addFileForm.value.fileName.split('.')[1] === 'mp3'">
          <i class="fa fa-file-video-o fs-16 align-text-top text-danger"></i>
        </div>
        <!-- <div><i class="fa fa-file-o fs-16 align-text-top"></i></div> -->

        <div class="flex-fill ps-2 pe-5 text-truncate">{{addFileForm.value.fileName}}</div>
        <div>
          <div class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <hr class="m-0"/>
      <a class="upload-toast__item" href="javascript:void(0)" *ngIf="uploadStatus === 'completed'">
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'jpg' || addFileForm.value.fileName.split('.')[1] === 'jpeg' || addFileForm.value.fileName.split('.')[1] === 'png'">
          <i class="fa fa-file-photo-o fs-16 align-text-top text-danger"></i>
        </div>
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'pdf'">
          <i class="fa fa-file-pdf-o fs-16 align-text-top text-danger"></i>
        </div>
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'doc' || addFileForm.value.fileName.split('.')[1] === 'docx'">
          <i class="fa fa-file-word-o fs-16 align-text-top text-primary"></i>
        </div>
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'xls' || addFileForm.value.fileName.split('.')[1] === 'xlsx'">
          <i class="fa fa-file-excel-o fs-16 align-text-top text-success"></i>
        </div>
        <div *ngIf="addFileForm.value.fileName.split('.')[1] === 'mp4' || addFileForm.value.fileName.split('.')[1] === 'mp3'">
          <i class="fa fa-file-video-o fs-16 align-text-top text-danger"></i>
        </div>
        <div class="flex-fill ps-2 pe-5 text-truncate">{{addFileForm.value.fileName}}</div>
        <div>
          <i class="fe fe-check-circle text-success fs-18 align-text-top"></i>
        </div>
      </a>
      <div class="upload-toast__item" *ngIf="uploadStatus === 'error'">
        <div class="flex-fill ps-2 pe-5 text-truncate text-danger">{{uploadMessage}}</div>
      </div>
      <!-- <hr class="m-0"/>
      <a class="upload-toast__item" href="javascript:void(0)">
        <div><i class="fa fa-file-word-o fs-16 align-text-top text-primary"></i></div>
        <div class="flex-fill ps-2 pe-5 text-truncate">fileNameSample.Doc</div>
        <div>
          <i class="fe fe-check-circle text-success fs-18 align-text-top"></i>
        </div>
      </a>
      <hr class="m-0"/>
      <a class="upload-toast__item" href="javascript:void(0)">
        <div><i class="fa fa-file-excel-o fs-16 align-text-top text-success"></i></div>
        <div class="flex-fill ps-2 pe-5 text-truncate">fileNameSample.xls</div>
        <div>
          <i class="fe fe-check-circle text-success fs-18 align-text-top"></i>
        </div>
      </a>
      <hr class="m-0"/>
      <a class="upload-toast__item" href="javascript:void(0)">
        <div><i class="fa fa-file-video-o fs-16 align-text-top text-danger"></i></div>
        <div class="flex-fill ps-2 pe-5 text-truncate">fileNameSample.mp4</div>
        <div>
          <i class="fe fe-check-circle text-success fs-18 align-text-top"></i>
        </div>
      </a>
      <hr class="m-0"/>
      <a class="upload-toast__item" href="javascript:void(0)">
        <div><i class="fa fa-file-o fs-16 align-text-top"></i></div>
        <div class="flex-fill ps-2 pe-5 text-truncate">fileNameSample.ext</div>
        <div>
          <i class="fe fe-check-circle text-success fs-18 align-text-top"></i>
        </div>
      </a> -->
    </div> 
  </div>