<div class="aside-section__outer row mx-0">
  <div class="d-none d-md-flex wrap-figure100 col-md-6 col-lg-7 col-xl-8 px-0">
    <div>
      <img
        class="wrap-figure100__img"
        src="../../../assets/images/login.jpg"
        alt="More Lives, Better Lived."
      />
      <div class="px-4 py-2">© 2022 Somatus. All Rights Reserved</div>
    </div>
  </div>
  <div class="col-md-6 col-lg-5 col-xl-4 px-6 bg-white">
    <div>
      <div class="pt-6 pb-3">
        <img
          class="img-fluid"
          src="../../../assets/images/brand/renalliqconnect.png"
          alt="renallIQconnect"
        />
      </div>
      <hr />
      <div class="py-3">
        <h2 class="fw-bold">Enter Verification Code<br />to Continue</h2>
      </div>
    </div>
    <form
      class="aside-section validate-form"
      name="twoFAForm"
      [formGroup]="twoFAForm"
      (ngSubmit)="onSubmit()"
    >
      <div
        class="alert alert-danger d-flex fade show mt-3"
        *ngIf="errorMessage"
        role="alert"
      >
        <div><i class="fa fa-warning me-2" aria-hidden="true"></i></div>
        <div class="flex-fill">
          {{ errorMessage }}
        </div>
      </div>
      <div
        class="alert alert-success d-flex fade show mt-3"
        *ngIf="successMsg"
        role="alert"
      >
        <div><i class="fa fa-check-circle-o me-2" aria-hidden="true"></i></div>
        <div class="flex-fill">
          {{ successMsg }}
        </div>
      </div>
      <div class="text-gray mt-3 mb-6">
        We send to <span class="text-primary">hellouser@site.com</span>. If you
        don't see it, check your spam.
      </div>
      <label class="form-label my-3" for="verificationCode"
        ><i class="zmdi zmdi-lock me-1" aria-hidden="true"></i> Verification
        Code</label
      >
      <div class="wrap-input100">
        <div class="form-row">
          <div class="col-12">
            <input
              class="input100 ps-4 text-center"
              style="display: inline; width: 15%;"
              type="text"
              maxlength="1"
              name="pass"
              formControlName="digit1"
              id="verificationCode"
              (keyup)="onDigitInput($event)"
              required
            />
            <input
              class="input100 ps-4 text-center"
              style="display: inline; width: 15%; margin-left: 2%;"
              type="text"
              name="pass"
              maxlength="1"
              formControlName="digit2"
              (keyup)="onDigitInput($event)"
              id="verificationCode"
              required
            />
            <input
              class="input100 ps-4 text-center"
              style="display: inline; width: 15%; margin-left: 2%;"
              type="text"
              name="pass"
              maxlength="1"
              formControlName="digit3"
              id="verificationCode"
              (keyup)="onDigitInput($event)"
              required
            />
            <input
              class="input100 ps-4 text-center"
              style="display: inline; width: 15%; margin-left: 2%;"
              type="text"
              name="pass"
              maxlength="1"
              formControlName="digit4"
              id="verificationCode"
              (keyup)="onDigitInput($event)"
              required
            />
            <input
              class="input100 ps-4 text-center"
              style="display: inline; width: 15%; margin-left: 2%;"
              type="text"
              name="pass"
              maxlength="1"
              formControlName="digit5"
              (keyup)="onDigitInput($event)"
              id="verificationCode"
              required
            />
            <input
              class="input100 ps-4 text-center"
              style="display: inline; width: 16%; margin-left: 1%;"
              type="text"
              name="pass"
              maxlength="1"
              formControlName="digit6"
              (keyup)="onDigitInput($event)"
              id="verificationCode"
              required
            />
          </div>
        </div>

        <!-- <span
          class="text-danger"
          *ngIf="(pass.touched || twoFAForm.submitted) && pass.invalid"
        >
          Verification code is required
        </span> -->
        <span
          class="text-danger"
          *ngIf="twoFAForm.touched && twoFAForm.invalid"
        >
          Verification code is required
        </span>
      </div>

      <div class="row">
        <div class="col-6 py-2">
          <a
            [routerLink]="['#']"
            (click)="resendTwoFAToken()"
            [style.cursor]="isDisabled ? 'not-allowed' : 'pointer'"
            [style.pointer-events]="isDisabled ? 'none' : 'auto'"
            class="d-inline-block fw-semibold mt-2"
            >Resend verification code</a
          >
        </div>
        <div class="col-6 text-end py-2">
          <button
            type="submit"
            class="btn btn-dark py-2 px-6"
            [disabled]="!twoFAForm.valid"
          >
            Confirm
          </button>
        </div>
      </div>
    </form>
    <div>
      <hr />
      <div class="text-center fs-12 op-0-5 text-sm-end pb-3">Ver : 2.0</div>
    </div>
  </div>
</div>
