.verification-code-input {
    display: inline; width: 15%; padding-right: 20px;
}
.no-caret {
    caret-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
      
.ml2perc{
    margin-left: 2%;
}