<div class="card-header title-submenu d-flex p-0">
  <h3 class="card-title flex-fill">
    Engagement Timeline
    <div class="fs-12 op-0-75">
      Track patient engagement timeline for last 6 month
    </div>
  </h3>
</div>
<hr />
<ul class="task-list">
  <li>
    <a href="#">
      <i class="task-icon bg-primary"></i>
      <p class="fw-semibold mb-1 fs-13 text-dark">
        Practice Summary Report
        <span class="text-muted fs-12 ms-2 ms-auto float-end">12 min ago</span>
      </p>
      <span class="text-muted fs-12">
        Practice Summary Report Practice Summary Report by Sean
        practice-summary-aug-22.pdf
      </span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="task-icon bg-primary"></i>
      <p class="fw-semibold mb-1 fs-13 text-dark">
        Review Meeting Schedule
        <span class="text-muted fs-12 ms-2 ms-auto float-end">45 min ago</span>
      </p>
      <span class="text-muted fs-12"> Project meeting with john @10:15 </span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="task-icon bg-primary"></i>
      <p class="fw-semibold mb-1 fs-13 text-dark">
        Practice Summary Report
        <span class="text-muted fs-12 ms-2 ms-auto float-end">12 min ago</span>
      </p>
      <span class="text-muted fs-12">
        Practice Summary Report Practice Summary Report by Sean
        practice-summary-aug-22.pdf
      </span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="task-icon bg-primary"></i>
      <p class="fw-semibold mb-1 fs-13 text-dark">
        Review Meeting Schedule
        <span class="text-muted fs-12 ms-2 ms-auto float-end">45 min ago</span>
      </p>
      <span class="text-muted fs-12"> Project meeting with john @10:15 </span>
    </a>
  </li>
  <li>
    <span class="d-block mt-1">
      <a href="#" class="btn btn-dark btn-sm"> Join Meeting </a>
    </span>
  </li>
</ul>
