<div class="mb-5">
  <div class="border-bottom pb-3">
    <div class="d-flex">
      <h3 class="card-title mb-0">Care Team</h3>
    </div>
  </div>
  <div>
    <ul class="list-group blog-autors">
      <li
        class="list-group-item border-bottom py-2"
        *ngFor="let member of careTeamList"
      >
        <a href="#" class="text-dark">
          <div class="media mt-0 d-sm-flex d-block">
            <img
              class="avatar-md rounded-circle me-3 my-auto"
              [src]="member.imageSrc"
              alt="Image description"
            />
            <div class="media-body d-sm-flex d-block">
              <div class="d-flex align-items-center">
                <div class="mt-1">
                  <h5 class="mb-1">{{ member.name }}</h5>
                  <p class="mb-0 text-13 text-primary">
                    {{ member.designation }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
