<div class="card mb-3">
  <div class="card-body">
    <div class="text-center">
      <img
        alt="Image description"
        src="../assets/images/faces/2.jpg"
        class="avatar-xxxl rounded-circle me-3 my-auto"
      />
      <h4 class="mt-3">Danya Garcia</h4>
    </div>
    <div class="form-row mt-4">
      <div class="col-6">
        <div class="fs-12 op-0-75">Status</div>
        <div>Engaged</div>
      </div>
      <div class="col-6">
        <div class="fs-12 op-0-75">Risk Category</div>
        <div>High</div>
      </div>
    </div>
    <div class="form-row mt-4">
      <div class="col-6">
        <div class="fs-12 op-0-75">Enrollement No</div>
        <div>QX5550123</div>
      </div>
      <div class="col-6">
        <div class="fs-12 op-0-75">Date Of Birth (Age)</div>
        <div>1979/8/11 (42)</div>
      </div>
    </div>
    <div class="form-row mt-4">
      <div class="col-6">
        <div class="fs-12 op-0-75">Health Plan</div>
        <div>Anthem</div>
      </div>
      <div class="col-6">
        <div class="fs-12 op-0-75">Engaged Date</div>
        <div>2022/9/10</div>
      </div>
    </div>
    <div class="form-row mt-4">
      <div class="col-6">
        <div class="fs-12 op-0-75">Program</div>
        <div>Transitional Care</div>
      </div>
      <div class="col-6">
        <div class="fs-12 op-0-75">Days since last assessed</div>
        <div>8 days ago</div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mb-4">
  <a href="#" class="btn btn-secondary ms-3"
    ><i class="icon icon-eye me-1"></i> VIEW CARE PLAN</a
  >
</div>
