<div>
    patient-profile works!
    <app-patient-profile-header></app-patient-profile-header>
    <div class="row">
        <div class="col-12 col-xl-3">
            <app-patient-profile-section></app-patient-profile-section>
        </div>
        <div class="col-12 col-xl-9">
            <app-patient-profile-medical>
                <app-patient-profile-nav></app-patient-profile-nav>
                <div class="row">
                    <div class="col-12 col-xl-9">
                        <app-transtion-care></app-transtion-care>
                        <app-medication></app-medication>
                        <app-engagement-timeline></app-engagement-timeline>
                    </div>
                    <div class="col-12 col-xl-3">
                        <app-care-member></app-care-member>
                    </div>
                </div>
            </app-patient-profile-medical>
        </div>
    </div>
</div>
