<div class="container-login100 row">
  <div class="d-none d-md-flex wrap-figure100 col-md-6 col-lg-7 col-xl-8">
    <div>
      <img
        class="wrap-figure100__img"
        src="../../../assets/images/login.jpg"
        alt="More Lives, Better Lived."
      />
      <div class="p-4">© 2022 Somatus. All Rights Reserved</div>
    </div>
  </div>
  <div class="wrap-login100 col-md-6 col-lg-5 col-xl-4">
    <div class="card-body p-6 p-lg-6">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit(form)"
        novalidate
        class="validate-form"
      >
        <div class="text-center mb-6">
          <img
            class="img-fluid"
            src="../../../assets/images/brand/renalliqconnect.png"
            alt="renallIQconnect"
          />
        </div>
        <div class="text-center mb-4">
          <h3 class="fw-bold">Forgot Password</h3>
          <div class="text-gray fs-13">
            Please select option to send link reset password
          </div>
        </div>

        <div class="card border card-btn is-active">
          <div class="card-body" (click)="resetField(fields.email)">
            <div class="notification-each d-flex">
              <div class="me-3 notifyimg bg-dark rounded">
                <i class="icon icon-envelope text-white"></i>
              </div>
              <div>
                <strong class="text-dark fs-16">Reset via Email</strong>
                <div class="text-gray">
                  We will send a link to reset your password
                </div>
              </div>
            </div>

            <div class="card-btn__input mt-4">
              <input
                class="input100 ps-4"
                type="text"
                name="email"
                placeholder="Email Address"
                id="emailAddress"
                formControlName="emailId"
              />
            </div>
            <div
              *ngIf="form.get('emailId').touched && form.get('emailId').invalid"
              class="errors mt-1"
            >
              <div *ngIf="form.get('emailId').hasError('required')">
                * Email Address is required
              </div>
              <div *ngIf="form.get('emailId').hasError('email')">
                * Enter the valid email
              </div>
            </div>
          </div>
        </div>

        <div class="card border mb-2 card-btn">
          <div class="card-body" (click)="resetField(fields.mobile)">
            <div class="notification-each d-flex">
              <div class="me-3 notifyimg bg-dark rounded">
                <i class="icon icon-phone text-white"></i>
              </div>
              <div>
                <strong class="text-dark fs-16">Reset via SMS</strong>
                <div class="text-gray">
                  We will send a link to reset your password
                </div>
              </div>
            </div>

            <div class="card-btn__input mt-4">
              <input
                class="input100 ps-4"
                type="text"
                name="mobileNumber"
                placeholder="Mobile Number"
                id="mobileNumber"
                formControlName="mobileNumber"
                mask="(XXX) XXX-XXXX"
              />
            </div>
            <div
              *ngIf="
                form.get('mobileNumber').touched &&
                form.get('mobileNumber').invalid
              "
              class="errors mt-1"
            >
              <div *ngIf="form.get('mobileNumber').hasError('required')">
                * Mobile Number is required
              </div>
              <div *ngIf="form.get('mobileNumber').hasError('pattern')">
                * Enter the valid Mobile Number
              </div>
            </div>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button
            type="submit"
            class="login100-form-btn btn-dark"
            [disabled]="!form.valid"
          >
            Send Link Reset Password
          </button>
        </div>
        <div class="p-4 fw-semibold px-6 px-lg-7 py-4 text-center">
          <a class="text-gray" [routerLink]="['/login']"
            ><i class="icon icon-action-undo me-1"></i> Back to
            <span class="text-primary">sign in</span></a
          >
        </div>
        <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
          Error! {{ errorMsg }}
        </div>
        <div *ngIf="successMsg" class="alert alert-success" role="alert">
          Success! {{ successMsg }}
        </div>
        <hr />
        <div class="text-center fs-12 op-0-5">Ver : 2.0</div>
      </form>
    </div>
  </div>
</div>
