<app-header></app-header>
<div class="app-content main-content mt-0">
  <div class="side-app">
    <div class="main-container container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- <app-bar-chart 
    [config]="{ apiUrl: 'assets/mockData/chart.json', side: 'vertical', title: 'Patient Age'}">
</app-bar-chart>
<app-bar-chart-horizontal 
    [config]="{ apiUrl: 'assets/mockData/chart.json', side: 'vertical', title: 'Patient Age'}">
</app-bar-chart-horizontal>
<app-doughnut-chart 
    [config]="{ apiUrl: 'assets/mockData/doughnutchart.json', side: 'vertical', title: 'Patient Age'}">
</app-doughnut-chart> -->
