<div class="mb-4 p-4 minh-content">
  <div class="d-flex mt-2">
    <div class="flex-fill d-flex align-items-center">
      <h3 class="card-title">Recent Documents</h3>
    </div>
  </div>
  <hr />
  <div class="table-responsive">
    <table id="data-table" class="table text-nowrap m-0 table-striped">
      <thead class="table-head">
        <tr class="text-secondary bg-gray-200">
          <th class="bg-transparent border-bottom-0">File Name</th>
          <th class="bg-transparent border-bottom-0 wp-15">Tags</th>
          <!-- <th class="bg-transparent border-bottom-0">Uploaded By</th> -->
          <th class="bg-transparent border-bottom-0">Viewd On</th>
          <th class="bg-transparent border-bottom-0"></th>
        </tr>
      </thead>
      <tbody class="table-body" *ngIf="recentDocuments.length">
        <tr class="border-bottom" *ngFor="let document of recentDocuments">
          <td>{{document.title}}</td>
          <td>
            <div class="tags px-4 me-2" *ngFor="let tag of document.tags">{{tag}}</div>
            <!-- <div class="tags px-4 me-2">Anthem</div> -->
          </td>
          <!-- <td>{{document.uploadedBy}}</td> -->
          <td>{{document.viewedOn}}</td>
          <td class="text-end">
            <div
              (click)="viewFile(document)"
              class="btn btn-outline-primary py-0"
            >
            <i class='fa fa-download'></i></div
            >
          </td>
        </tr>
      </tbody>
      <tbody class="table-body" *ngIf="!recentDocuments.length">
        <tr class="border-bottom" >
          <td>
            <div class="text-center mt-3">
              <a
                href="javascript: void(0)"
                class="btn btn-outline-secondary px-4"
                routerLink="/documents/sharedbysomatus"
              >
                Shared By Somatus</a
              >
              <a
                href="javascript: void(0)"
                class="btn btn-outline-secondary px-4"
                style="margin-left: 15px;"
                routerLink="/documents/knowledge-center"
              >
                Knowledge Center</a
              >
            </div>
            <div class="mt-3 text-center" *ngIf="!recentDocuments.length">
              <div class="mb-4">
                <img src="../../../assets/images/no-data.png" alt="No data found" class="wrap-figure__img"/>
              </div>
              <h4 class="text-danger"> <i class="fe fe-alert-triangle"></i> No Document found</h4>
            </div>
          </td>
        </tr>
      <tbody>
    </table>
    <!-- <div class="text-center mt-3">
        <a
          href="javascript: void(0)"
          class="btn btn-outline-secondary px-4"
          routerLink="/documents/sharedbysomatus"
        >
          View All Documents</a
        >
    </div> -->
  </div>
</div>
<app-view-details [viewDocument]="documentDetails"></app-view-details>