<div class="sub-header">
  <div class="main-container container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-4 col-xl-5 align-item-center d-flex">
        <div class="mt-3">
          <h1 class="page-title m-0">Admissions</h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Patient Admissions
            </li>
          </ol>
        </div>
      </div>
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 pt-1 text-sm-end">
        <div class="row">
          <div class="col-12 col-md-7 col-lg-7 col-xl-7">
            <div class="border rounded-2 py-2 px-3 bg-white">
              <div class="row text-start">
                <div class="col-12 col-sm-5">
                  <div class="d-flex align-items-center">
                    <div class="d-flex text-truncate align-items-center">
                      <i class="fa fa-circle text-warning me-2"></i>
                      <div class="flex-fill">
                        <div class="fs-12">Admissions</div>
                        <div class="fs-10">(LAST 90 DAYS)</div>
                      </div>
                    </div>

                    <div class="fs-22 ms-4">
                      {{ admissionHeaders.admissionBy }}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-7 border-start">
                  <div class="d-flex align-items-center">
                    <div class="d-flex text-truncate align-items-center">
                      <i class="fa fa-circle text-success me-2"></i>
                      <div class="flex-fill">
                        <div class="fs-12">Discharge</div>
                        <div class="fs-10">(LAST 90 DAYS)</div>
                      </div>
                    </div>
                    <div class="flex-fill mx-4">
                      <div class="fs-11">
                        {{ admissionHeaders.dischargeByPercentage }}%
                      </div>
                      <div class="progress progress-xs">
                        <div
                          class="progress-bar bg-success"
                          [class.bg-success]="
                            admissionHeaders.dischargeByPercentage > 70
                          "
                          [class.bg-warning]="
                            admissionHeaders.dischargeByPercentage < 51 &&
                            admissionHeaders.dischargeByPercentage < 70
                          "
                          [class.bg-danger]="
                            admissionHeaders.dischargeByPercentage < 30
                          "
                          [class.bg-primary]="
                            admissionHeaders.dischargeByPercentage > 60 &&
                            admissionHeaders.dischargeByPercentage < 70
                          "
                          [ngClass]="
                            'wp-' + admissionHeaders.dischargeByPercentage
                          "
                        ></div>
                      </div>
                    </div>
                    <div class="fs-22 ms-4">
                      {{ admissionHeaders.dischargeBy }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-md-5 col-lg-5 col-xl-5 align-item-center d-flex py-3 py-md-0"
          >
            <div class="input-group admissions-period">
              <mbsc-datepicker
                id="admissionsPeriod"
                class="form-control fs-12"
                style="padding: 0.8rem 0.5rem"
                #rangeDatepicker
                [options]="dateRangeOptions"
                placeholder="Select date range"
              ></mbsc-datepicker>
              <label class="admissions-period__label" for="admissionsPeriod"
                >Admissions Period</label
              >
              <button
                class="input-group-text bg-white"
                type="button"
                (click)="rangeDatepicker.open()"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
