<div class="sub-header">
  <div class="main-container container">
    <div class="row">
      <div class="col-12 col-sm-9">
        <h1 class="page-title m-0">
          Patient
          <span class="fw-normal"
            >- {{ profileDetail.name }} |
            <span *ngIf="profileDetail.gender === 'F'">Female</span>
            <span *ngIf="profileDetail.gender === 'M'">Male</span>
            <span
              *ngIf="
                profileDetail.gender !== 'M' && profileDetail.gender !== 'F'
              "
              >-</span
            >
            | {{ profileDetail.age }} Years</span
          >
        </h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Patient Profile
          </li>
        </ol>
      </div>
      <div class="col-12 col-sm-3 pb-2 pb-sm-0 pt-0 pt-sm-1 text-sm-end">
        <!-- <a href="#" class="btn btn-outline-secondary ms-3"
          ><i class="icon icon-printer me-1"></i> Print</a
        > -->
        <a routerLink="/patients" class="btn btn-danger">Close</a>
        <!-- <a
          href="#"
          class="p-1 text-secondary fs-16 ms-3 align-middle"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ><i class="icon icon-options-vertical"></i
        ></a>
        <div class="dropdown-menu dropdown-menu-start">
          <a class="dropdown-item" href="#"
            ><i class="fe fe-edit-2 me-2"></i> Edit</a
          >
          <a class="dropdown-item" href="#"
            ><i class="fe fe-trash-2 me-2"></i> Delete</a
          >
        </div> -->
      </div>
    </div>
  </div>
</div>
