<div class="container-login100 d-md-flex">
  <div class="d-none d-md-flex wrap-figure100 flex-fill">
    <div>
      <img
        class="wrap-figure100__img"
        src="../../../assets/images/login.jpg"
        alt="More Lives, Better Lived."
      />
      <div class="p-4">© 2022 Somatus. All Rights Reserved</div>
    </div>
  </div>
  <div class="wrap-login100">
    <div>
      <div class="card-body p-6 p-lg-7">
        <form class="validate-form">
          <div class="text-center mb-6">
            <img
              class="img-fluid"
              src="../../../assets/images/brand/renalliqconnect.png"
              alt="renallIQconnect"
            />
          </div>
          <div class="form-row">
            <div class="col-6">
              <label class="text-gray" for="firstName">First Name</label>
              <div class="wrap-input100 validate-input">
                <input
                  class="input100 ps-4"
                  type="text"
                  name="firstName"
                  placeholder="First Name"
                  id="firstName"
                />
              </div>
            </div>
            <div class="col-6">
              <label class="text-gray" for="lastName">Last Name</label>
              <div class="wrap-input100 validate-input">
                <input
                  class="input100 ps-4"
                  type="text"
                  name="lastName"
                  placeholder="Last Name"
                  id="lastName"
                />
              </div>
            </div>
          </div>

          <label class="text-gray mt-2" for="emailId">Email Id</label>
          <div class="wrap-input100 validate-input">
            <input
              class="input100 ps-4"
              type="text"
              name="emailId"
              placeholder="Email Id"
              id="emailId"
            />
          </div>
          <label class="text-gray mt-2" for="mobileNumber">Mobile Number</label>
          <div class="wrap-input100 validate-input">
            <input
              class="input100 ps-4"
              type="text"
              name="mobileNumber"
              placeholder="Mobile Number"
              id="mobileNumber"
            />
          </div>
          <label class="text-gray mt-2" for="providerName">Provider Name</label>
          <div class="wrap-input100 validate-input">
            <input
              class="input100 ps-4"
              type="text"
              name="providerName"
              placeholder="Provider Name"
              id="providerName"
            />
          </div>

          <div class="container-login100-form-btn">
            <a href="/signup" class="login100-form-btn btn-dark">Sign Up</a>
          </div>
          <div class="p-4 fw-semibold px-6 px-lg-7 py-4 text-center">
            <a class="text-gray" href="/signin"
              ><i class="icon icon-action-undo me-1"></i> Back to
              <span class="text-primary">sign in</span></a
            >
          </div>
          <hr />
          <div class="text-center fs-12 op-0-5">Ver : 2.0</div>
        </form>
      </div>
    </div>
  </div>
</div>
