<div class="card">
  <div class="card-header border-bottom title-submenu d-flex">
    <h3 class="card-title flex-fill">Patient by Stage</h3>
    <a routerLink="/patient" class="ms-auto">View Patients</a>
  </div>
  <div class="card-body pt-3">
    <div class="donut-chart__wrapper">
      <!-- <canvas class="donut-chart" id="donutChart"></canvas> -->
      <app-doughnut-chart
        [config]="{ apiUrl: 'assets/mockData/doughnutchart.json', title: '' }"
      >
      </app-doughnut-chart>
    </div>
  </div>
</div>
