<div class="error-page container-login100 d-md-flex text-center">
  <div class="d-flex wrap-figure100 flex-fill text-center p-6">
    <img
      class="img-fluid error-page__img"
      src="../../../assets/images/error.png"
      alt="Error 404"
    />
  </div>
  <div class="wrap-login100">
    <div class="w-100">
      <div class="card-body p-6 p-lg-7">
        <h1 class="error-page__title fw-bold fs-28">404</h1>
        <div class="fw-semibold fs-22">
          Page Not Found <i class="fa fa-exclamation-triangle text-danger"></i>
        </div>
        <div class="op-0-7">We couldn′t find the page you are looking for.</div>
        <div class="mt-4">
          <a href="/" class="btn btn-dark"
            ><i class="icon icon-action-undo me-1"></i> Home Page</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
