<div class="aside-section__outer row mx-0">
  <div class="d-none d-md-flex wrap-figure100 col-md-6 col-lg-7 col-xl-8 px-0">
    <div class="m-auto">
      <img
        class="wrap-figure100__img"
        src="../../../assets/images/error.png"
        alt="Error 404"
      />
    </div>
  </div>
  <div class="col-md-6 col-lg-5 col-xl-4 px-6 bg-white">
    <div>
      <div class="pt-6 pb-3">
        <img
          class="img-fluid"
          src="../../../assets/images/brand/renalliqconnect.png"
          alt="renallIQconnect"
        />
      </div>
      <hr class="mb-0" />
    </div>
    <div class="aside-section">
      <div class="flex-fill pt-4 pb-6">
        <div>
          <h2 class="fw-bold">
            404 Error<br />Page Not Found
            <i class="fa fa-exclamation-triangle text-danger"></i>
          </h2>
        </div>
        <div class="text-gray mb-6">
          We couldn′t find the page you are looking for.
        </div>

        <div>
          <a href="/" class="btn btn-dark"
            ><i class="icon icon-action-undo me-1"></i> Home Page</a
          >
        </div>
      </div>
    </div>
    <div>
      <hr class="mt-0" />
      <div class="text-center fs-12 op-0-5 text-sm-end pb-3">Ver : 2.0</div>
    </div>
  </div>
</div>
