<div class="main-container container">
  <div class="row">
    <div class="col-6 col-sm-4 col-md-5">
      <h1 class="page-title m-0">Patient</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Patient</li>
      </ol>
    </div>
    <div class="col-6 col-sm-8 col-md-7 pt-1 text-end">
      <a
        data-bs-target="#modalFilter"
        data-bs-toggle="modal"
        href="javascript:void(0)"
        class="p-1 text-secondary fs-16 align-middle"
        ><i class="fa fa-filter"></i
      ></a>
      <a
        href="javascript: void(0)"
        data-bs-target="#exportFilter"
        data-bs-toggle="modal"
        class="btn btn-outline-secondary ms-3"
        ><i class="icon icon-share-alt me-1"></i> Export</a
      >
      <!--
        <a href="#" class="btn btn-dark ms-3">Add Patient</a>
        <a
          href="#"
          class="p-1 text-secondary fs-16 ms-3 align-middle"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ><i class="icon icon-options-vertical"></i
        ></a>
        <div class="dropdown-menu dropdown-menu-start">
          <a class="dropdown-item" href="#"
            ><i class="fe fe-edit-2 me-2"></i> Edit</a
          >
          <a class="dropdown-item" href="#"
            ><i class="fe fe-trash-2 me-2"></i> Delete</a
          >
        
        </div>
        -->
    </div>
  </div>
</div>
<!-- FILTER MODAL -->
<div class="modal fade" id="modalFilter">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header bg-gray-200">
        <h4 class="modal-title fw-semibold">Filter Patient</h4>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label for="searchPatient" class="mb-1">Patient</label>
          <input
            type="text"
            name="text"
            placeholder="Search by Patient"
            id="searchPatient"
            [(ngModel)]="filter.patientFilter.searchKey"
            class="form-control"
          />
        </div>
        <div class="form-row mt-4">
          <div class="col-6">
            <label for="stage" class="mb-1">Stage</label>
            <select
              class="form-select"
              [(ngModel)]="filter.patientFilter.stage"
              id="stage"
            >
              <option value="">Select</option>
              <option value="CKD Stage1">CKD Stage1</option>
              <option value="CKD Stage2">CKD Stage2</option>
              <option value="CKD Stage3">CKD Stage3</option>
              <option value="CKD Stage4">CKD Stage4</option>
              <option value="CKD Stage3B">CKD Stage3B</option>
              <option value="ESKD">ESKD</option>
            </select>
          </div>
          <div class="col-6">
            <label for="riskCategory" class="mb-1">Risk Category</label>
            <select
              class="form-select"
              [(ngModel)]="filter.patientFilter.riskCategory"
              id="riskCategory"
            >
              <option value="">Select</option>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </div>
        </div>
        <div class="form-row mt-4">
          <div class="col-6">
            <label for="careMember" class="mb-1">Care Member</label>
            <input
              type="text"
              name="text"
              placeholder="Search by Care Member"
              id="careMember"
              [(ngModel)]="filter.patientFilter.careMember"
              class="form-control"
            />
          </div>
          <div class="col-6">
            <label for="status" class="mb-1">Status</label>
            <select
              class="form-select"
              [(ngModel)]="filter.patientFilter.status"
              id="status"
            >
              <option value="">Select</option>
              <option value="Engaged">Engaged</option>
              <option value="New">New</option>
              <option value="On-hold">On-hold</option>
            </select>
          </div>
        </div>

        <div class="form-row mt-4">
          <div class="col-6">
            <label for="Assignment" class="mb-1">Assignment</label>
            <div class="input-group">
              <mbsc-datepicker
                class="form-control fs-12"
                #rangeDatepickerAssignment
                [options]="dateRangeOptionsAssignment"
                [(ngModel)]="filter.patientFilter.assignment"
                placeholder="Select date range"
              ></mbsc-datepicker>

              <button
                class="input-group-text bg-white"
                type="button"
                (click)="rangeDatepickerAssignment.open()"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
          <div class="col-6">
            <label for="Discharge" class="mb-1">Discharge</label>
            <div class="input-group input-group-lg">
              <!-- value="13 Sep 22 - 20 Sep 22" -->
              <!-- [(ngModel)]="filter.patientFilter.discharge" -->
              <div class="input-group">
                <mbsc-datepicker
                  class="form-control fs-12"
                  #rangeDatepicker
                  [options]="dateRangeOptions"
                  [(ngModel)]="filter.patientFilter.discharge"
                  placeholder="Select date range"
                ></mbsc-datepicker>
                <button
                  class="input-group-text bg-white"
                  type="button"
                  (click)="rangeDatepicker.open()"
                >
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-light" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="submit()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EXPORT MODAL -->
<div class="modal fade" id="exportFilter">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header bg-gray-200">
        <h4 class="modal-title fw-semibold">Export Patient Report</h4>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius
          quis tortor eu ultricies. Mauris laoreet eleifend leo ed efficitur
          velit vitae velit iaculis fringilla consectetur adipiscing.
        </p>
        <div class="mb-4">
          <label for="stage" class="mb-1">File Name</label>
          <div class="input-group mb-4">
            <input
              type="text"
              name="text"
              placeholder="Enter File Name"
              id="searchPatient"
              class="form-control w-50"
              [(ngModel)]="fileNameExport"
            />
            <input
              type="text"
              name="text"
              value=".xls"
              class="form-control"
              readonly
            />
            <button class="btn btn-secondary" type="button"
              (click)="submitExport()">Export</button>
          </div>
        </div>

        <div class="mb-4" *ngIf="exportStatus">
          <h4 class="mb-2">Report Already Submitted</h4>

          <div class="progress h-6 mb-2 fs-16" *ngIf="exportStatus === 'submitted'">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated w-100"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              Submitted for Review
            </div>
          </div>

          <div class="progress h-6 mb-2 fs-16" *ngIf="exportStatus === 'inprogress'">
            <div
              class="progress-bar bg-warning progress-bar-striped progress-bar-animated w-100"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              In Process
            </div>
          </div>

          <div class="progress h-6 mb-2 fs-16" *ngIf="exportStatus === 'approved'">
            <div
              class="progress-bar bg-success progress-bar-striped progress-bar-animated w-100"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              Approved
            </div>
          </div>

          <div class="progress h-6 mb-2 fs-16" *ngIf="exportStatus === 'rejected'">
            <div
              class="progress-bar bg-danger progress-bar-striped progress-bar-animated w-100"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              Rejected
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
