<div class="container-login100 row">
  <div class="d-none d-md-flex wrap-figure100 col-md-6 col-lg-7 col-xl-8">
    <div>
      <img
        class="wrap-figure100__img"
        src="../../../assets/images/login.jpg"
        alt="More Lives, Better Lived."
      />
      <div class="p-4">© 2022 Somatus. All Rights Reserved</div>
    </div>
  </div>
  <div class="wrap-login100 col-md-6 col-lg-5 col-xl-4">
    <div class="card-body pt-0 w-100">
      <form
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit(signInForm)"
        novalidate
        class="row g-3 needs-validation was-validated"
      >
        <div class="text-center mb-6">
          <img
            class="img-fluid"
            src="../../../assets/images/brand/renalliqconnect.png"
            alt="renallIQconnect"
          />
        </div>
        <div class="col-12">
          <label class="form-label" for="emailAddress">Email or username</label>
          <div
            class="wrap-input100"
            data-bs-validate="Valid email is required: ex@abc.xyz"
          >
            <input
              formControlName="emailId"
              class="form-control input100"
              type="email"
              name="email"
              placeholder="Email"
              id="emailAddress"
              required
            />
            <span class="symbol-input100"
              ><i aria-hidden="true" class="zmdi zmdi-email"></i
            ></span>
            <div *ngIf="signInForm.get('emailId').touched &&
                signInForm.get('emailId').invalid"
              class="invalid-feedback"
            >
              <div *ngIf="signInForm.get('emailId').hasError('required')">
                * Email is required
              </div>
              <div *ngIf="signInForm.get('emailId').hasError('email')">
                * Enter the valid email
              </div>
            </div>

          </div>
        </div>


        <div class="col-12">
          <label for="password2" class="form-label">Password</label>
          <div
            data-bs-validate="Password is required"
            class="wrap-input100 input-password"
          >
            <input
              id="password2"
              type="password"
              name="confirmPassword"
              placeholder="Password"
              formControlName="password"
              class="form-control input100"
              required
            />
            <i class="fe fe-eye input-password__icon"></i>
            <i class="fe fe-eye-off input-password__icon"></i>
            <span class="symbol-input100">
              <i aria-hidden="true" class="zmdi zmdi-lock"></i>
            </span>

            <div *ngIf="signInForm.get('password').touched &&
                  signInForm.get('password').invalid"
                class="invalid-feedback">
                <div *ngIf="signInForm.get('password').hasError('required')">
                  * Password is required
                </div>
            </div>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button
            type="submit"
            class="login100-form-btn btn-dark"
            [disabled]="signInForm.invalid"
          >
            Sign in
          </button>
        </div>



        <div class="text-center pt-3">
          <p class="mb-1">
            Forgot Password?
            <a [routerLink]="['/forgotPassword']" class="text-primary ms-1"
              >Click Here</a
            >
          </p>
        </div>

        <div class="alert alert-danger d-flex fade show"
          *ngIf="errorMessage"
          role="alert">
          <div><i class="fa fa-frown-o me-2" aria-hidden="true"></i></div>
          <div class="flex-fill">
            {{ errorMessage }}
          </div>
        </div>



        <hr />
        <div class="text-center fs-12 op-0-5 text-sm-end">Ver : 2.0</div>

      </form>
    </div>
  </div>
</div>
