<div class="container-login100 d-md-flex">
  <div class="d-none d-md-flex wrap-figure100 flex-fill">
    <div>
      <img
        class="wrap-figure100__img"
        src="../../../assets/images/login.jpg"
        alt="More Lives, Better Lived."
      />
      <div class="p-4">© 2022 Somatus. All Rights Reserved</div>
    </div>
  </div>
  <div class="wrap-login100">
    <div class="w-100">
      <div class="card-body p-6 p-lg-7">
        <form  [formGroup]='signInForm' (ngSubmit)='onSubmit(signInForm)' novalidate class="validate-form">
          <div class="text-center mb-6">
            <img
              class="img-fluid"
              src="../../../assets/images/brand/renalliqconnect.png"
              alt="renallIQconnect"
            />
          </div>
          <label class="text-gray" for="emailAddress">Email or username</label>
          <div
            class="wrap-input100 validate-input"
            data-bs-validate="Valid email is required: ex@abc.xyz"
          >
            <input
              formControlName="emailId"
              class="input100"
              type="text"
              name="email"
              placeholder="Email"
              id="emailAddress"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="zmdi zmdi-email" aria-hidden="true"></i>
            </span>
          </div>
          <div *ngIf="signInForm.get('emailId').touched && signInForm.get('emailId').invalid" class="errors" >
          <div *ngIf="signInForm.get('emailId').hasError('required')"> * Email is required </div>
          <div *ngIf="signInForm.get('emailId').hasError('email')"> * Enter the valid email </div>
          </div>
          <div class="d-flex mt-4">
            <div class="flex-fill">
              <label class="text-gray" for="password">Password</label>
            </div>
          </div>
          <div
            class="wrap-input100 validate-input"
            data-bs-validate="Password is required"
          >
            <input
              formControlName="password"
              class="input100"
              type="password"
              name="pass"
              placeholder="Password"
              id="password"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="zmdi zmdi-lock" aria-hidden="true"></i>
            </span>
          </div>
          <div *ngIf="signInForm.get('password').touched && signInForm.get('password').invalid" class="errors" >
             <div *ngIf="signInForm.get('password').hasError('required')"> * Password is required </div>
             <div *ngIf="signInForm.get('password').hasError('pattern')"> * Password is not valid</div>
            </div>
          <div class="container-login100-form-btn" >
            <button type="submit" class="login100-form-btn btn-dark" [disabled]="!signInForm.valid" >Sign in</button>
          </div>
          <div class="text-center pt-3">
            <p class="mb-1">
              Forgot Password?
              <a [routerLink]="['/forgotPassword']" class="text-primary ms-1">Click Here</a>
            </p>
            <!-- <p class="mb-0">
              Dont't Have an account?
              <a href="/signup" class="text-primary ms-1">Sign Up</a>
            </p> -->
            <p class="mb-1 errors">
             {{errorMsg}}
            </p>
          </div>
          <hr />
          <div class="text-center fs-12 op-0-5">Ver : 2.0</div>
        </form>
      </div>
    </div>
  </div>
</div>

