<div class="table-responsive">
    <table
      id="admissionTable"
      class="table text-nowrap m-0 table-bordered table-striped sorting_disabled"
    >
      <thead class="table-head">
        <tr class="text-secondary">
          <th
            class="bg-transparent border-bottom-0 wp-3 fs-12 text-center sorting_off"
          ></th>
          <th class="bg-transparent border-bottom-0 wp-20 fs-12">
            PATIENT
          </th>
          <th class="bg-transparent border-bottom-0 fs-12">DOB (AGE)</th>
          <th class="bg-transparent border-bottom-0 fs-12">STAGE</th>
          <th class="bg-transparent border-bottom-0 fs-12">
            CASE CATEGORY
          </th>
          <th class="bg-transparent border-bottom-0 fs-12 wp-20">
            DIAGNOSIS
          </th>
          <th class="bg-transparent border-bottom-0 fs-12">
            FACITLITY NAME
          </th>
          <th class="bg-transparent border-bottom-0 fs-12">ADMISSION</th>
          <th class="bg-transparent border-bottom-0 fs-12">DISCHARGE</th>
          <th class="bg-transparent border-bottom-0 no-btn fs-12 wp-3"></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr>
          <td class="text-center">
            <i class="fa fa-circle text-success"></i>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <span
                class="data-image avatar avatar-sm rounded-circle"
                style="background-image: url(../assets/images/users/1.jpg)"
              ></span>
              <div class="user-details ms-2">
                <a class="text-secondary" href="#"
                  ><h6 class="mb-0">Rose Torson</h6></a
                >
              </div>
            </div>
          </td>
          <td class="text-center">
            79/06/15 <strong class="fw-semibold">(43)</strong>
          </td>
          <td class="text-center">CKD4</td>
          <td>Nike snakers</td>
          <td>101-Neoplasms Tumors</td>
          <td>Intrusted</td>
          <td class="text-center">22/09/14</td>
          <td class="text-center">22/09/15</td>
          <td class="text-center">
            <a
              href="#"
              class="br-5 px-2 py-1"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fe fe-more-vertical"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-start">
              <a class="dropdown-item" href="#"
                ><i class="fe fe-edit-2 me-2"></i> Edit</a
              >
              <a class="dropdown-item" href="#"
                ><i class="fe fe-info me-2"></i> Info</a
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <i class="fa fa-circle text-primary"></i>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <span
                class="data-image avatar avatar-sm rounded-circle"
                style="background-image: url(../assets/images/users/2.jpg)"
              ></span>
              <div class="user-details ms-2">
                <a class="text-secondary" href="#"
                  ><h6 class="mb-0">Danya Garcia</h6></a
                >
              </div>
            </div>
          </td>
          <td class="text-center">
            79/06/15 <strong class="fw-semibold">(43)</strong>
          </td>
          <td class="text-center">CKD4</td>
          <td>Nike snakers</td>
          <td>204-Tobacco use diagnosis</td>
          <td>Intrusted</td>
          <td class="text-center">22/09/14</td>
          <td class="text-center">22/09/15</td>
          <td class="text-center">
            <a
              href="#"
              class="br-5 px-2 py-1"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fe fe-more-vertical"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-start">
              <a class="dropdown-item" href="#"
                ><i class="fe fe-edit-2 me-2"></i> Edit</a
              >
              <a class="dropdown-item" href="#"
                ><i class="fe fe-info me-2"></i> Info</a
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <i class="fa fa-circle text-primary"></i>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <span
                class="data-image avatar avatar-sm rounded-circle"
                style="background-image: url(../assets/images/users/12.jpg)"
              ></span>
              <div class="user-details ms-2">
                <a class="text-secondary" href="#"
                  ><h6 class="mb-0">Joseph Oliver</h6></a
                >
                <span class="badge badge-xs bg-danger">Re-admission</span>
              </div>
            </div>
          </td>
          <td class="text-center">
            79/06/15 <strong class="fw-semibold">(43)</strong>
          </td>
          <td class="text-center">CKD4</td>
          <td>Nike snakers</td>
          <td>253-Nephrologist visit prior</td>
          <td>Intrusted</td>
          <td class="text-center">22/09/14</td>
          <td class="text-center">22/09/15</td>
          <td class="text-center">
            <a
              href="#"
              class="br-5 px-2 py-1"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fe fe-more-vertical"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-start">
              <a class="dropdown-item" href="#"
                ><i class="fe fe-edit-2 me-2"></i> Edit</a
              >
              <a class="dropdown-item" href="#"
                ><i class="fe fe-info me-2"></i> Info</a
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <i class="fa fa-circle text-primary"></i>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <span
                class="data-image avatar avatar-sm rounded-circle"
                style="background-image: url(../assets/images/users/4.jpg)"
              ></span>
              <div class="user-details ms-2">
                <a class="text-secondary" href="#"
                  ><h6 class="mb-0">Jennifer Summers</h6></a
                >
              </div>
            </div>
          </td>
          <td class="text-center">
            79/06/15 <strong class="fw-semibold">(43)</strong>
          </td>
          <td class="text-center">CKD4</td>
          <td>Nike snakers</td>
          <td>204-Tobacco use diagnosis</td>
          <td>Intrusted</td>
          <td class="text-center">22/09/14</td>
          <td class="text-center">22/09/15</td>
          <td class="text-center">
            <a
              href="#"
              class="br-5 px-2 py-1"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fe fe-more-vertical"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-start">
              <a class="dropdown-item" href="#"
                ><i class="fe fe-edit-2 me-2"></i> Edit</a
              >
              <a class="dropdown-item" href="#"
                ><i class="fe fe-info me-2"></i> Info</a
              >
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <i class="fa fa-circle text-primary"></i>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <span
                class="data-image avatar avatar-sm rounded-circle"
                style="background-image: url(../assets/images/users/5.jpg)"
              ></span>
              <div class="user-details ms-2">
                <a class="text-secondary" href="#"
                  ><h6 class="mb-0">Lucy Garcia</h6></a
                >
              </div>
            </div>
          </td>
          <td class="text-center">
            79/06/15 <strong class="fw-semibold">(43)</strong>
          </td>
          <td class="text-center">CKD4</td>
          <td>Nike snakers</td>
          <td>101-Neoplasms Tumors</td>
          <td>Intrusted</td>
          <td class="text-center">22/09/14</td>
          <td class="text-center">22/09/15</td>
          <td class="text-center">
            <a
              href="#"
              class="br-5 px-2 py-1"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fe fe-more-vertical"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-start">
              <a class="dropdown-item" href="#"
                ><i class="fe fe-edit-2 me-2"></i> Edit</a
              >
              <a class="dropdown-item" href="#"
                ><i class="fe fe-info me-2"></i> Info</a
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>