<div class="d-flex">
  <div>
    <i class="icon text-primary fs-13 me-2" [class]="cardData.iconClass"></i>
  </div>
  <div class="flex-fill text-truncate">
    {{ cardData.cardTitle }}
    <div class="text-dark fw-bold fs-23">
      {{ cardData.count }}<ng-content select="[description]"></ng-content>
    </div>
    <span
      class="fw-semibold fs-12"
      [class]="cardData.performance === 'up' ? 'text-success' : 'text-danger'"
    >
      <span class="mx-1"
        ><i
          class="fa fs-16"
          [class]="
            cardData.performance === 'up' ? 'fa-caret-up' : 'fa-caret-down'
          "
        ></i
      ></span>
      {{ cardData.percentile }}%
    </span>
  </div>
</div>
