<div class="side-app">
  <app-admission-header
    [admissionHeaders]="admissionHeaders"
    (dateRangeChangeHandler)="dateRangeChangeHandler($event)"
  ></app-admission-header>
  <div class="main-container container">
    <div class="card mb-5 p-2" *ngIf="!showNoData">
      <div *ngIf="showLoading">
        <div class="row mt-0 mb-3">
          <div class="col-12 col-md-4">
            <div class="border rounded-2 p-4 bg-light mh-62">
              <div class="row">
                <div class="col-12 col-md-5">
                  <div class="d-flex align-items-center">
                    <div>
                      <i class="fa fa-circle text-warning me-1"></i> Admissions
                    </div>

                    <div class="fs-19 ms-4 mw-2">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-7 border-start">
                  <div class="d-flex align-items-center">
                    <div>
                      <i class="fa fa-circle text-success me-1"></i> Discharge
                    </div>
                    <div class="flex-fill ms-4">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div
              class="border rounded-2 p-2 pt-3 position-relative bg-light mh-62"
            >
              <div class="fieldset-title px-1 bg-label fs-12">
                ADMISSION BY STAGES
              </div>
              <div class="row border-start-none">
                <div class="col-12 col-md-6 col-lg-3 border-start">
                  <div class="my-3">
                    <span class="skeleton-loader"></span>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 border-start">
                  <div class="my-3">
                    <span class="skeleton-loader"></span>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 border-start">
                  <div class="my-3">
                    <span class="skeleton-loader"></span>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 border-start">
                  <div class="my-3">
                    <span class="skeleton-loader"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-admissions-admission-by
        *ngIf="!showLoading"
        [admissionHeaders]="admissionHeaders"
        [dateRange]="dateRange"
      ></app-admissions-admission-by>
      <app-admissions-grid
        *ngIf="!showLoading"
        [dateRange]="dateRange"
      ></app-admissions-grid>
    </div>

    <div class="card mb-5 p-5 text-center" *ngIf="showNoData">
      <div class="mb-4">
        <img
          class="wrap-figure__img"
          src="../../../assets/images/no-data.png"
          alt="No data found"
        />
      </div>
      <h2 class="fw-bold">No data found</h2>
      <div class="text-gray mb-6">
        Man day data is empty or Try adjusting your filter.
      </div>
      <div>
        <a routerLink="/" class="btn btn-outline-danger mx-1 px-5"
          ><i class="icon icon-action-undo me-1"></i> Retry</a
        >
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
