<div class="side-app">
  <app-admission-header
    [admissionHeaders]="admissionHeaders"
    (dateRangeChangeHandler)="dateRangeChangeHandler($event)"
  ></app-admission-header>
  <div class="main-container container">
    <div class="card mb-5 p-2" *ngIf="!showNoData">
      <div *ngIf="showLoading">
        <div class="row mt-0 mb-3">
          <div class="col-12 col-md-4">
            <div class="border rounded-2 p-4 bg-light">
              <div class="row">
                <div class="col-12 col-md-5">
                  <div class="d-flex align-items-center">
                    <div>
                      <i class="fa fa-circle text-warning me-1"></i> Admissions
                    </div>

                    <div class="fs-19 ms-4 mw-2">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-7 border-start">
                  <div class="d-flex align-items-center">
                    <div>
                      <i class="fa fa-circle text-success me-1"></i> Discharge
                    </div>
                    <div class="flex-fill ms-4">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="border rounded-2 p-2 pt-3 position-relative bg-light">
              <div class="fieldset-title px-1 bg-label fs-12">
                ADMISSION BY STAGES
              </div>
              <div class="row border-start-none">
                <div class="col-12 col-md-6 col-lg-3 border-start">
                  <div class="my-3">
                    <span class="skeleton-loader"></span>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 border-start">
                  <div class="my-3">
                    <span class="skeleton-loader"></span>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 border-start">
                  <div class="my-3">
                    <span class="skeleton-loader"></span>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 border-start">
                  <div class="my-3">
                    <span class="skeleton-loader"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table
            id="admissionTable"
            class="table text-nowrap m-0 table-bordered table-striped sorting_disabled"
          >
            <thead class="table-head">
              <tr class="text-secondary bg-gray-200">
                <th
                  class="bg-transparent border-bottom-0 wp-3 fs-12 text-center sorting_off"
                ></th>
                <th class="bg-transparent border-bottom-0 wp-20 fs-12">
                  PATIENT
                </th>
                <th class="bg-transparent border-bottom-0 fs-12">DOB (AGE)</th>
                <th class="bg-transparent border-bottom-0 fs-12">STAGE</th>
                <th class="bg-transparent border-bottom-0 fs-12">
                  CASE CATEGORY
                </th>
                <th class="bg-transparent border-bottom-0 fs-12 wp-20">
                  DIAGNOSIS
                </th>
                <th class="bg-transparent border-bottom-0 fs-12">
                  FACITLITY NAME
                </th>
                <th class="bg-transparent border-bottom-0 fs-12">ADMISSION</th>
                <th class="bg-transparent border-bottom-0 fs-12">DISCHARGE</th>
                <th
                  class="bg-transparent border-bottom-0 no-btn fs-12 wp-3"
                ></th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td>
                  <div class="skeleton-loader__media-rounded">
                    <span class="skeleton-loader"></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="skeleton-loader__media-xs me-4">
                      <span class="skeleton-loader"></span>
                    </div>
                    <div class="flex-fill">
                      <span class="skeleton-loader"></span>
                    </div>
                  </div>
                </td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <app-admissions-admission-by
        *ngIf="!showLoading"
        [admissionHeaders]="admissionHeaders"
        [dateRange]="dateRange"
      ></app-admissions-admission-by>
      <app-admissions-grid
        *ngIf="!showLoading"
        [dateRange]="dateRange"
      ></app-admissions-grid>
    </div>
    <div role="alert" class="alert alert-danger d-flex fade show"
      *ngIf="showNoData">
      <div>
        <i aria-hidden="true" class="fa fa-warning me-2"></i>
      </div>
      <div class="flex-fill">No data found!</div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
