<div class="tab-menu-heading border-0 pb-0">
  <div class="tabs-menu1">
    <ul class="nav fs-12 fw-semibold">
      <li>
        <a
          href="#Summary"
          class="px-2 text-secondary active show"
          data-bs-toggle="tab"
          >Summary</a
        >
      </li>
      <li>
        <a href="#Allergies" data-bs-toggle="tab" class="px-2 text-secondary"
          >Allergies</a
        >
      </li>
      <li>
        <a href="#Engagement" data-bs-toggle="tab" class="px-2 text-secondary"
          >Engagement</a
        >
      </li>
      <li>
        <a href="#Labs" data-bs-toggle="tab" class="px-2 text-secondary"
          >Labs</a
        >
      </li>
      <li>
        <a href="#Vaccination" data-bs-toggle="tab" class="px-2 text-secondary"
          >Vaccination
        </a>
      </li>
      <li>
        <a href="#Contacts" data-bs-toggle="tab" class="px-2 text-secondary"
          >Contacts</a
        >
      </li>
      <li>
        <a
          href="#DialysisTransplant"
          data-bs-toggle="tab"
          class="px-2 text-secondary"
          >Dialysis & Transplant</a
        >
      </li>
    </ul>
  </div>
</div>
