<div class="card">
  <div class="card-header border-bottom title-submenu d-flex">
    <h3 class="card-title flex-fill">
      Care Gaps
      <div class="fs-12 op-0-75">Care Gaps - Based on claims data</div>
    </h3>
  </div>
  <div class="card-body pt-3">
    <div>Diuretics Adherance - Proportion of Days Covered</div>
    <div class="mt-1">
      <span class="fs-11 text-danger">10%</span>
      <div class="progress progress-sm">
        <div class="progress-bar bg-danger wp-10"></div>
      </div>
      <span class="fs-11">Target > 80%</span>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header border-bottom title-submenu d-flex">
    <h3 class="card-title flex-fill">
      Care Member
      <div class="fs-12 op-0-75">Care Member assgined to Patient</div>
    </h3>
  </div>
  <div class="card-body px-3 py-2">
    <ul class="list-group blog-autors">
      <li class="list-group-item py-2">
        <a href="#" class="text-dark">
          <div class="media mt-0 d-sm-flex d-block">
            <img
              alt="Image description"
              class="avatar-md rounded-circle me-3 my-auto"
              src="../assets/images/faces/11.jpg"
            />
            <div class="media-body d-sm-flex d-block">
              <div class="d-flex align-items-center">
                <div class="mt-1">
                  <h5 class="mb-1">Allie Grater</h5>
                  <p class="mb-0 text-13 text-primary">Nurse Care Manager</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="list-group-item border-top py-2">
        <a href="#" class="text-dark">
          <div class="media mt-0 d-sm-flex d-block">
            <img
              alt="Image description"
              class="avatar-md rounded-circle me-3 my-auto"
              src="../assets/images/faces/7.jpg"
            />
            <div class="media-body d-sm-flex d-block">
              <div class="d-flex align-items-center">
                <div class="mt-1">
                  <h5 class="mb-1">Kevin Martin</h5>
                  <p class="mb-0 text-13 text-primary">Dietitian</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="list-group-item border-top py-2">
        <a href="#" class="text-dark">
          <div class="media mt-0 d-sm-flex d-block">
            <img
              alt="Image description"
              class="avatar-md rounded-circle me-3 my-auto"
              src="../assets/images/faces/5.jpg"
            />
            <div class="media-body d-sm-flex d-block">
              <div class="d-flex align-items-center">
                <div class="mt-1">
                  <h5 class="mb-1">Rose Grater</h5>
                  <p class="mb-0 text-13 text-primary">Krysia Eurydyka</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
